In [1]:
# Import necessary libraries
import pandas as pd

C:\Users\Torbj√∏rn\AppData\Local\Temp\ipykernel_13588\225911458.py:2: DeprecationWarning:
Pyarrow will become a required dependency of pandas in the next major release of pandas (pandas 3.0),
(to allow more performant data types, such as the Arrow string type, and better interoperability with other libraries)
but was not found to be installed on your system.
If this would cause problems for you,
please provide us feedback at https://github.com/pandas-dev/pandas/issues/54466

  import pandas as pd

In [2]:
# Construct the relative path to the dataset
dataset_path = '../data/raw/data.csv'

In [3]:
# Load the dataset from the data/raw directory
dataset = pd.read_csv(dataset_path)

In [4]:
# Display the first few rows of the dataset
dataset.head()

,rating,team,position,salary,country,draft_round,age,experience,bmi
0,97,Los Angeles Lakers,F,37436858.0,USA,1,36,17,26.722594
1,97,Los Angeles Clippers,F,32742000.0,USA,1,29,9,25.271652
2,96,Milwaukee Bucks,F-G,25842697.0,Not-USA,1,26,7,24.662519
3,96,Brooklyn Nets,F,37199000.0,USA,1,32,13,24.107803
4,96,Houston Rockets,G,38199000.0,USA,1,31,11,25.978759